http://www.piscopoart.com/images/movieposters/raypiscopo_braveheart.jpg

http://ecx.images-amazon.com/images/I/51PF3R77HJL.jpg

http://www.bigmike-productions.com/images/posts/the-count-of-monte-cristo-2002/the-count-of-monte-cristo.jpg